body, html {
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}
body ,h1, h2, h3 {
    font-family: "Raleway", sans-serif;
}
h1, h2 {
    font-weight: 400;
    margin: 10px 0;
    font-family: "Segoe UI",Arial,sans-serif;
}
h1 {
    font-size: 36px;
    letter-spacing: 4px;
}
h2 {
    font-size: 30px;
    letter-spacing: 4px;
}
h3 {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 4px;
}
* {
    box-sizing: border-box;
}
header {
    position: relative;
}
footer {
    background-color: black;
    padding: 16px 0;
}
footer div p {
    text-align: center;
    color: white;
}
footer div p a {
    color: white;
}
img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
nav {
    padding: 8px 16px;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.75;
    z-index: 1;
    cursor: pointer;
}
ul {
    list-style-type: none;
}
nav:hover {
    background-color: white;
    opacity: 1;
}
li {
    float: left;
    width: 25%;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}
li a:hover {
    background-color: #0000003d;
}
b {
    font-weight: bold;
}
p {
    line-height: 2;
    text-align: justify;
}
i {
    font-style: italic;
}
.button {
    background-color: black;
    border: 4px;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 0;
    border-radius: 5%;
}
.button:hover {
    background: gray;
    color: black;
}
#home {
    position: relative;
    background: url("img/wedding_couple.jpg") no-repeat 100% 100%;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(50%);
}
#jane_john {
    background-color: #f2e1e1;
    color: gray;
    padding: 64px 20%;
    width: 100%;
    margin: 0;
    filter: grayscale(50%);

}
#flowers {
    position: relative;
    background: url("img/flowers.jpg") no-repeat 100% 100%;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#wedding {
    background-color: #f2e1e1;
    color: gray;
    padding: 64px 20%;
    margin: 0;
    clear: both;
    overflow: hidden;
    filter: grayscale(50%);
}
#rsvp {
    background: #f88179;
    color: white;
    padding: 8px 60px;
    border: 4px;
    letter-spacing: 0;
    border-radius: 5%;
    opacity: 0.6;
    font-size: 24px;
    cursor: pointer;
}
#rsvp:hover {
    background: gray;
    color: black;
    opacity: 1;
}
.big_text {
    font-size: 64px;
    font-weight: 400;
}
.letter {
    letter-spacing: 4px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text_div {
    background-color: #f2e1e1;
    color: gray;
    width: 100%;
    margin: 32px 0;
}
.floats {
    width: 50%;
    float: left;
    text-align: center;
}
.text_center {
    text-align: center;
}
.p_different {
    font-size: 18px;
    letter-spacing: 4px;
    text-align: center;
}
#bot_element {
    background: #ffdddd;
    padding: 64px 16px;
}
#hide {
    height: 83px;
}
#nav_button:hover {
    background: black;
    color: white;
}