body {
    background-image: url("img/baground.jpg");
    background-size: 100% 500px;
    background-repeat: no-repeat;
}
.table {
    border-collapse: collapse;
    font-size: 20px;
    width: 330px;
    height: 330px;
    text-align: center;
    margin: auto;
}
.top_row {
    background-color: #0080008c;
    color: white;
    border-right: gray solid 2px;
    border-bottom: gray solid 4px;
}
.basic_table {
    color: gray;
    border-right: gray solid 2px;
    border-bottom: gray solid 4px;
}
.white_table {
    color: blue;
    background: white;
    border-bottom: gray solid 4px;
}