.web1 {
    width: 50%;
    margin: 0 auto;
}
.head1 {
    text-align: center;
    background: black;
    color: white;
    height:  45px;
    margin: unset;
}
.links {
    text-decoration: none;
}
.linksdiv {
    float: left;
    width: calc(30% - 2px);
    height: 400px;
    background: white;
    border-left: black solid 1px;
}
.maintextdiv {
    float: left;
    width: calc(70% - 1px);
    height: 400px;
    background: white;
    color: black;
    box-sizing: border-box;
    padding: 20px;
    border-left: black solid 1px;
    border-right: black solid 1px;
}
.bot1 {
    margin: unset;
    text-align: center;
    color: white;
}
.botdiv {
    background: black;
    float: left;
    width: 100%;
    height: 30px;
}