body {
    font-size: 30px;
    text-align: center;
    background-image: url("../img/baground.jpg");
    background-size: 100% 500px;
}
h1 {
    color: green;
}
h2 {
    color: blue;
}
p {
    color: green;
    text-align: left;
    margin-left:  10%;
    margin-right: 10%;
}
.menu_menu {
    background: gray;
    opacity: 0.7;
    text-align: left;
}
.menu1 {
    color: black;
    font-size: 30px;
    text-decoration: none;
}
.table1 {
    border-collapse: collapse;
    border: green solid 4px;
    font-size: 20px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: gray;
    opacity: 0.6;
    margin: auto;
}